# OS junk
[Tt]humbs.db
*.DS_Store

# NuGet
packages

# VS junk
*.[Oo]bj
*.user
*.aps
*.eto
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

# ReSharper
_ReSharper*/
*.resharper

# Project files
[Bb]uild/
[Pp]ackage/

# Office Temp Files
~$*

# Git originals
*.orig

# NCrunch
*ncrunch*
*crunch*.local.xml